#imagesection {
		height: 30em;
		background-size: auto 100%;
		background-repeat: no-repeat;
		background-position: center;
}

.projectbutton {
		background-color: lime;
		height: inherit;
		z-index: -1;
}

.projectbutton .arrownormal {
		display: block;
}

.projectbutton .arrowhover {
		display: none;
}

.projectbutton:hover .arrownormal {
		display: none;
}

.projectbutton:hover .arrowhover {
		display: block;
}

#leftbutton {
		float: left;
}

#rightbutton {
		float: right;
}
