#imagesection {
		height: 30em;
}

#imagesection img {
		height: inherit;
}

.projectbutton {
		background-color: lime;
}

.projectbutton .arrownormal {
		display: block;
}

.projectbutton .arrowhover {
		display: none;
}

.projectbutton:hover .arrownormal {
		display: none;
}

.projectbutton:hover .arrowhover {
		display: block;
}

#leftbutton {
		float: left;
}

#rightbutton {
		float: right;
}
