#projectimage {
		height: 30em;
}

#projectimage img {
		height: inherit;
		width: auto;
}

.projectbutton {
		background-color: lime;
		height: 50%;
}

#leftbutton {
		float: left;
}

#rightbutton {
		float: right;
}
