body {
	margin: 0;
	background-color: black;
	color: lime;
	font-family: "Courier New", Courier, monospace;
}

a {
	color: inherit;
}

hr {
	border: 1px dashed lime;
}


header {
	text-align: right;
	width: inherit;
	margin-bottom: 2em;
	border-bottom: 1px dashed lime;
}

.textcontent, p, h1, h2, h3, h4, h5, h6 {
	text-align: left;
}

#outerwrapper {
	width: 100%;
	position: absolute;
	min-height: 100%;
	height: auto;
}

footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	border-top: 1px dashed lime;
}

.horizontallist li {
	margin: 0.5em;
	display: inline;
}

.button {
	border: 1px dashed lime;
	padding: 0.5em;
}

.button:hover, .selected {
	color: black;
	background-color: lime;
}

.borderbox {
	border: 1px dashed lime;
}

#content {
	display: block;
	text-align: center;
	padding: 1em;
}

#copyright {
	text-align: center;
}