<pre>
######  ####### #     # ####### ####### #     #    #       ### #     #
#     # #       ##    #    #    #     # ##    #    #        #  #     #
#     # #       # #   #    #    #     # # #   #    #        #  #     #
#     # #####   #  #  #    #    #     # #  #  #    #        #  #     #
#     # #       #   # #    #    #     # #   # #    #        #  #     #
#     # #       #    ##    #    #     # #    ##    #        #  #     #
######  ####### #     #    #    ####### #     #    ####### ###  #####&nbsp;
</pre>
<div>Software Developer</div>
<p class="typetarget">I am a student at the University of Waterloo studying Software Engineering!</p>
<br />
<a href="/about.html" class="button">Learn more!</a>
